@charset "utf-8";

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

body,
html {
    height: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.curtain {
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 252, 216);
    position: fixed;
    top: 200%;
    left: 0;
    opacity: 1;
    transition: opacity 0.1s, transform 0.1s;
}

.bar {
    width: 100%;
    height: 7%;
    background-color: rgb(242, 242, 242);
    position: fixed;
    top: 10;
    left: 0;
    opacity: 1;
    transition: opacity 0.7s, transform 0.7s;
}
.menuL {
    position: fixed;
    top: 5%;
    right: 2%;
    color: rgb(137, 137, 137);
    font-size: 20px;
    font-weight: bold;
    transform: translateY(-100%);
    opacity: 1;
    transition: all 0.7s ease-out;
    animation: moveBar 0.7s ease-out 0.7s forwards;
}
.menuN {
    position: fixed;
    top: 5%;
    right: 6.5%;
    color: rgb(137, 137, 137);
    font-size: 20px;
    font-weight: bold;
    transform: translateY(-100%);
    opacity: 1;
    transition: all 0.7s ease-out;
    animation: moveBar 0.7s ease-out 0.7s forwards;
}
.menuC {
    position: fixed;
    top: 5%;
    right: 10%;
    color: rgb(137, 137, 137);
    font-size: 20px;
    font-weight: bold;
    transform: translateY(-100%);
    opacity: 1;
    transition: all 0.7s ease-out;
    animation: moveBar 0.7s ease-out 0.7s forwards;
}
.logo {
    position: fixed;
    top: 3.7%;
    left: 9%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 0.7s, transform 0.7s;
}

/* ======================================== 애니메이션 효과 ======================================== */

.curtain.fade-in {
    opacity: 1;
    top: 100%;
    animation-delay: 0.1s;
    transition: all 0.7s cubic-bezier(0.7, 0, 0.1, 1.0);
    transform: translateY(-100%);
}

.curtain.fade-out {
    opacity: 1;
    top: 0;
    left: 0;
    animation-delay: 0.1s;
    transition: all 0.7s cubic-bezier(0.1, 0, 0.2, 1.0);
    transform: translateY(-100%);
}