h2 {
    position: absolute;
    font-size: 2em;
    float: left;
    top: 37%;
    left: 41.9%;
    /* justify-content: center; */
}

.form-container {
    position: relative;
    top: 45%;
    display: flex;
    justify-content: center;
}

.register {
    position: fixed;
    top: 5%;    
    right: 14.5%;
    color: rgb(137, 137, 137);
    font-size: 20px;
    font-weight: bold;
    transform: translateY(-100%);
    opacity: 1;
}

form input {
    margin-bottom: 5px;
}
#username {
    width: 300px;
    height: 30px;
}
#password {
    width: 300px;
    height: 30px;
}
#button {
    width: 308px;
    height: 30px;
}