h2 {
    position: absolute;
    font-size: 2em;
    float: left;
    top: 19vh;
    left: 30%;
}

.searchBox {
    position: relative;
    top: 23vh;
    left: 58%;
}
#search {
    width: 180px;
    height: 20px;
}
#button {
    position: relative;
    width: 50px;
    height: 25px;
    top: 2px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.write {
    position: fixed;
    top: 4.6%;
    right: 14.5%;
    color: rgb(137, 137, 137);
    font-size: 20px;
    font-weight: bold;
    transform: translateY(-100%);
    opacity: 1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    border-right:none;
    border-left:none;
    border-top:none;
    border-bottom:none;
}

td, th {
    padding: 8px;
    border-bottom: 1px solid #a4a3a5;
}

.boardTable th.num {
    border-top: 2px solid #333;
    width: 50px;
}

.boardTable th.title {
    border-top: 2px solid #333;
    width: 350px;
}

.boardTable th.author, .boardTable th.date {
    border-top: 2px solid #333;
    width: 70px;
}

.boardTable td.num, .boardTable td.author {
    text-align: center;
}

.boardTable td.date {
    font-size: 14px;
}