<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/base.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/font.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/notice.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    
</head>
<body>
    <!--상단 바-->
    <div class="bar"></div>
    <div class="menuL medium"><a href="{{ url_for('login') }}">로그인</a></div>
    <div class="menuN medium"><a href="{{ url_for('notice') }}">공지</a></div>
    <div class="menuC medium"><a href="{{ url_for('board') }}">게시판</a></div>
    <div class="logo bold"><a href="/">SEOYEON</a></div>
    <div class="curtain"></div>
    
    <h2>공지사항</h2>
    <div class="container">
        <table class="boardTable">
            <thead class="thead">
                <th class="num bold" scope="col">번호</th>
                <th class="title bold" scope="col">제목</th>
                <th class="author bold" scope="col">작성자</th>
                <th class="date bold" scope="col">작성일</th>
            </thead>
            <tbody class="tbody">
                {% for row in rows %}
                <tr>
                    <td class="num bold" scope="row">{{ row[0] }}</td>
                    <td class="title medium"><a href="{{ url_for('notice_detail', id=row[0]) }}" class="card-link">{{ row[1] }}</a></td>
                    <td class="author medium">{{ row[3] }}</td>
                    <td class="date medium">{{ row[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- <table class="boardTable">
        <thead class="thead">
            <th class="num bold" scope="col">번호</th>
            <th class="title bold" scope="col">제목</th>
            <th class="author bold" scope="col">작성자</th>
            <th class="date bold" scope="col">작성일</th>
        </thead>
        <tbody class="tbody">
            {% for row in rows %}
            <tr>
                <th class="medium" scope="row">{{ row[0] }}</th>
                <td class="medium"><a href="{{ url_for('notice_detail', id=row[0]) }}" class="card-link">{{ row[1] }}</a></td>
                <td class="medium">{{ row[3] }}</td>
                <td class="medium">{{ row[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
</body>
</html>
